<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %> 
    <h1 class="user-form-title">Completá tus datos</h1>
    <form class="user-form" action="/" method="POST">
        <div>
            <input type="text" name="nombre" id="nombre" required placeholder=" ">     
            <label for="nombre" id="nombre-label">Nombre</label>      
        </div>   
        <div>
            <input type="text" id="apellido" name="apellido" required placeholder=" ">
            <label for="apellido">Apellido</label>
        </div>
        <div>
            <input type="text" id="username" name="username" required placeholder=" ">
            <label for="username">Nombre de usuari@</label>
        </div>
        <div>
            <input type="email" id="email" name="email" required placeholder=" ">
            <label for="email">E-mail</label>
        </div>
        <div>
            <input type="date" id="nacimiento" name="nacimiento" required placeholder=" ">
            <label for="nacimiento">Fecha de nacimiento</label>
        </div>
        <div>
            <input type="text" id="domicilio" name="domicilio" required placeholder=" ">
            <label for="domicilio">Domicilio</label>
        </div>
        <div>
            <input type="password" id="password" name="password" required placeholder=" ">
            <label for="password">Contraseña</label>
        </div>
        <div>
            <input type="password" id="passwordcheck" name="passwordcheck" required placeholder=" ">
            <label for="passwordcheck">Confirmar contraseña</label>
        </div>
        <button type="submit" class="submit-button">Continuar</button>
    </form>

    <%- include('partials/footerEmpty') %>
</body>
</html>