<footer>
    <article>
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" alt="payment">
        <h3 class="footer-title">Pagá con tarjeta o en efectivo</h3>
        <p class="footer-text">
            Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
        <a href="/mercado-pago">Cómo pagar con Mercado Pago</a>            
    </article>
    <article>
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" alt="shipping">
        <h3 class="footer-title">Envío gratis desde $ 2500</h3>
        <p class="footer-text">
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
        <a href="/mercado-puntos">Conoce más sobre este beneficio</a>            
    </article>
    <article>
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" alt="protected">
        <h3 class="footer-title">Seguridad, de principio a fin</h3>
        <p class="footer-text">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
        </p>
        <a href="/security">Cómo te protegemos</a>            
    </article>


    <div class="copyright">
        <h4><a href="/terms">Términos y condiciones</a> <a href="/privacy">Cómo cuidamos tu privacidad</a></h4>
        <p>© 1999-2020 Mercado Liebre S.R.L.</p>
        <p>Calle Falsa 123, Springfield</p>

    </div>
</footer>