<header>
    <div class="navbar">
        <a href="/"><img src="/img/logo-ml.svg" alt="logo" class="navicon" id="logo"></a>
        <form action="/search" class="navsearch">
            <input type="text" id="search" name="product" placeholder="Estoy buscando…" autocomplete="off" aria-label="barra de busqueda">
            <button type="submit" aria-label="botón de busqueda"><i class="fas fa-search"></i></button>
        </form>      
        <div class="menuicon" onclick="navDisplay(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <script>
            function navDisplay(x) {
            x.classList.toggle("change");
            var y = document.getElementById("nav-menu-mobile");
            if (y.style.display === "flex") {
                y.style.display = "none";
            } else {
                y.style.display = "flex";
            }}
        </script>
        <!-- <i class="fas fa-shopping-cart" id="navcart"></i> -->
        <a href="/carrito" id="navcart"><i class="material-icons-outlined">shopping_cart</i></a>
    </div>        
    <!-- <h3>Comprá en cuotas y sin tarjeta de crédito</h3> ubicacion -->
    <div id="nav-menu-mobile">
        <div id="nav-triangle"></div>
        <% if (locals.user) { %>
        <%- include('userMenu') %> 
        <% } else { %>
        <%- include('inviteMenu') %> 
        <% } %>
        <div class="nav-menu-section">
            <a href="/#ofertas"><i class="fas fa-search-dollar fa-fw"></i>Ofertas</a>
            <a href="/historial"><i class="fas fa-history fa-fw"></i>Historial</a>
            <a href="/products/create"><i class="fas fa-tag fa-fw"></i>Vender</a>
        </div>
        <div class="nav-menu-section">
            <a href="/products/categories"><i class="fas fa-list fa-fw"></i>Categorías</a>
            <a href="/tiendas-oficiales"><i class="fas fa-store fa-fw"></i>Tiendas Oficiales</a>
            <a href="/help"><i class="far fa-question-circle fa-fw"></i>Ayuda</a>
        </div>
    </div>    
</header>