<div class="nav-header-user-menu">
    <div class="nav-header-mobile-user-info">
        <div class="nav-user-icon"><i class="far fa-user"></i></div>
        <div class="nav-mobile-user-welcome">
            <h3 class="nav-mobile-user-title">Bienvenid@ <%= locals.user.firstname %></h3>
            <p class="nav-mobile-user-text">Ingresá a tu cuenta para ver tus compras, favoritos, etc.</p>
        </div>                
    </div>
    <div class="nav-mobile-user-buttons">
        <a class="nav-mobile-button-filled" href="/users/login">Ingresá</a>
        <a class="nav-mobile-button-outlined" href="/users/register">Creá tu cuenta</a>
    </div>
</div>